@import '../../sass.config.scss';

.CardBuilder {
  border: 8px dotted $highlight;
  border-radius: 35px;

  display: flex;
  flex: 1;
  & > img {
    margin-bottom: 15px;
    width: 100%;
  }
}

.DropZone {
  align-items: center;
  // border: 1px solid yellow;
  border-radius: 2px;
  display: flex;
  text-align: center;
  flex: 1;
  & > div > img {
    display: block;
    margin-bottom: 15px;
    margin: 0 auto;
    width: 90%;
    @media screen and (min-width: 850px) {
      width: 70%;
    }
  }
  & > div {
    font-size: 28px;
    margin: 0 auto;
  }
}

.ColorButton {
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.Prompt {
  color: cyan;
  margin-bottom: 20px;
  text-align: center;
}

.ChooseAnother {
  color: #333;
  // margin-bottom: 200px;
  text-align: center;
}