@import '../../sass.config.scss';
.HomeContainer {
  height: 100vh;
  position: relative;
  width: 100%;
  main {
  display: flex;
  flex-flow: column;
  height: 100%;
  }
  h1 {
    background: $highlight;
    bottom: 10px;
    border-radius: 8px;
    color: $black;
    font-size: 11px;
    left: 50%;
    padding: 8px 38px;
    position: fixed;
    text-align: center;
    transform: translate(-50%, 0);
    span {
      font-weight: 400;
    }
    a {
      color: $black;
      font-weight: 700;
      margin-left: 3px;
      text-decoration: none;
    }
  }

  main {
    padding: 20px;
  }

  main > h2 {
    color: $highlight;
  }

  main > h3 {
    font-size: 18px;
  }

  main > h4 {

  }

  main > form {
    margin: 0;
    padding: 0;
  }

  main > form > div:first-of-type {
    border: 4px dotted $highlight;
    img {
      width: 300px;
    }
  }
}
