@import '../../sass.config.scss';
// @import '../cards/Cards.scss';

body {
  margin: 0;
  padding: 0;
}

.HomeContainer {
  h1 {
    background: $highlight;
    bottom: 0;
    font-size: 12px;
    left: 50%;
    padding: 7px 14.69px;
    position: fixed;
    text-align: center;
    transform: translate(-50%, 0);
    width: 150px;

    span {
      font-weight: 400;
    }
    a {
      color: $grey_1;
      font-weight: 700;
      margin-left: 3px;
      text-decoration: none;
    }
  }

  main {
    padding: 20px;
  }

  main > h2 {
    color: $highlight;
  }

  main > h3 {
    font-size: 18px;
  }

  main > h4 {

  }

  main > form {
    margin: 0;
    padding: 0;
  }

  main > form > div:first-of-type {
    border: 4px dotted $highlight;
    img {
      width: 300px;
    }
  }
}










